.create-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.customers-page button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  height: 40px;
}

.customer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
